* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  background: #f6f5f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -20px 0 50px;
}

/**************************************************************************/
/* FONT FAMILIES */

@font-face {
  font-family: 'NDGambitExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/NDGambitExtraBold/NDGambitExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'NDGambitExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/NDGambitExtraBold/NDGambitExtraBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Menlo-Regular';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Menlo/Menlo-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Menlo-Bold';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Menlo/Menlo-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'HelveticaNeue-Regular';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/HelveticaNeue-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/HelveticaNeue-Medium.woff) format('woff');
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/HelveticaNeue-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto-Mono';
  font-style: normal;
  src: url(../fonts/roboto-mono-v13/roboto-mono-v13-latin-regular.ttf)
    format('truetype');
  src: url(../fonts/roboto-mono-v13/roboto-mono-v13-latin-regular.eot)
    format('embedded-opentype');
  src: url(../fonts/roboto-mono-v13/roboto-mono-v13-latin-regular.woff)
    format('woff');
}

h1 {
  font-family: 'HelveticaNeue-Bold';
  font-size: 40px;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.p-login-form {
  font-family: 'Roboto-Mono';
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.p-login-form-01 {
  font-family: 'Roboto-Mono';
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  background-color: #100a25;
  padding: 30px;
  height: 150px;
}

.p-login-form-02 {
  font-family: 'Roboto-Mono';
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  background-color: #100a25;
  padding: 30px;
  height: 150px;
}

a {
  color: gray;
  font-size: 14px;
  text-decoration: underline;
  margin: 15px 0;
}

.login-form-container {
  background-color: transparent;
  border-radius: 2px;
  backdrop-filter: blur(10px);
  position: relative;
  overflow: hidden;
  width: 1000px;
  max-width: 100%;
  min-height: 700px;
}

.form-container form {
  background-color: #100a25;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container span {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.form-container input {
  font-family: 'Roboto-Mono';
  resize: vertical;
  height: 50px;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  background-color: #100a25;
  border: 5px solid #5234ee;
  margin-top: 5px;
  outline: none;
  padding-left: 20px;
  color: #fff;
}

.form-container input:focus {
  border: 5px solid rgb(154, 255, 0);
}

/**************************************************************************/
/* BUTTONS */

.btn-primary {
  background-color: #5334ee;
  color: #fff;
  font-size: 18px;
  padding: 18px 24px 18px 24px;
  border: none;
  border-radius: none;
  /* border-radius: 5px; */
  cursor: pointer;

  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.3);

  margin-top: 5px;
  margin-bottom: 5px;

  width: 200px;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #4e2eee;
}

.btn-primary:active {
  transform: scale(0.98);
}

button {
  background-color: #e4ff00;
  color: #fff;
  font-size: 18px;
  padding: 18px 24px 18px 24px;
  border: none;
  border-radius: none;
  /* border-radius: 5px; */
  cursor: pointer;

  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.3);

  margin-top: 5px;
  margin-bottom: 5px;

  width: 200px;
  margin-top: 50px;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 2.32s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 2.32s ease-in-out;
  z-index: 100;
}

.overlay {
  background-color: #ffffffb9;
  background-color: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 /
    cover;
  background-image: url('./images/cat-blue.jpg');
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 2.32s ease-in-out;
}

.overlay button {
  background-color: #5234ee;
  color: #fff;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0 40px; */
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 2.32s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.overlay-left {
  /* transform: translateX(-20%); */
  transform: translateX(0%);
}

/* Animation */

/* Move signIn to the right */

.login-form-container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

/* Move overlay to left */

.login-form-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Bring signIn up over signIn */

.login-form-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay bck to the right */

.login-form-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.login-form-container.right-panel-active .overlay-left {
  transform: translateX(0%);
}

.login-form-container.right-panel-active .overlay-right {
  /* transform: translateX(20%); */
  transform: translateX(0%);
}
